$primeryClr: #D9D9D9;
$primeryBg: #121517;
$white: #ffff;
$accentLG: linear-gradient(267.2deg, #237249 3.05%, #35C66B 75.72%);
$lg-gray-100: linear-gradient(146.68deg, #DADADA -17.38%, rgba(218, 218, 218, 0) 91.61%);
$lg-gray-200: linear-gradient(132.9deg, #DADADA 9.82%, rgba(218, 218, 218, 0.07) 49.06%, #DADADA 103.78%);
$lg-white: linear-gradient(264.52deg, #FFFFFF 4.95%, #E5E5E5 64.19%, #FBFBFB 88.37%);