.products {

  &__header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 72px;
    row-gap: 40px;
    margin-bottom: 54px;
  }

  &__title {
    max-width: 392px;
  }

  &__text {
    max-width: 400px;
    line-height: 1.6;
  }

  &__slider {
    padding: 10px 20px 100px;

    .swiper-button-prev,
    .swiper-button-next {
      width: 55px;
      height: 55px;
      top: auto;
      bottom: 0;
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
      font-size: 0;
      background-image: url('../images/arrow.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 100%;
    }

    .swiper-button-prev {
      transform: rotate(-90deg);
      left: 40%;
    }

    .swiper-button-next {
      transform: rotate(90deg);
      right: 40%;
    }
  }

}

.product-card {
  position: relative;
  max-width: 277px;
  display: flex;
  flex-direction: column;
  padding: 55px 30px 30px;
  border-radius: 29px;
  background-color: $primeryBg;
  margin: 0 auto;

  &:hover {
    &::after {
      background-image: $accentLG;
    }

    .decor-circel_gray {
      background-image: $accentLG;
    }
  }

  &::after {
    content: '';
    position: absolute;
    inset: -1px;
    background-image: $lg-gray-200;
    border-radius: inherit;
    z-index: -1;
  }

  &__image {
    position: relative;
    width: 186px;
    height: 186px;
    margin: 0 auto 30px;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 50%;
      background-image: $accentLG;
    }
  }

  &__img {
    position: absolute;
    top: -20px;
    z-index: 2;
  }

  &__body {
    position: relative;
    color: $white;
    text-align: center;

    .decor-circel_gray {
      top: -70px;
      left: -50px;
      transform: scale(0.7);
      opacity: 0.15;
      z-index: 2;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 18px;
  }

  &__text {
    color: $primeryClr;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  &__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__price {
    font-size: 32px;
    font-weight: 500;
    color: $white;
  }

  &__link {
    display: inline-block;
    font-size: 16px;
    padding: 14px 40px;
  }
}

@media(max-width: 576px) {
  .product-card {
    max-width: 180px;
    padding: 20px;
    margin: 0 auto;

    &__image {
      transform: scale(0.7);
      margin: 0 auto;
    }

    &__title {
      font-size: 20px;
      line-height: 1.6;
      margin-bottom: 5px;
    }

    &__text {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 20px;
    }

    &__desc {
      margin-bottom: 20px;
    }

    &__price {
      font-size: 20px;

    }

    &__link {
      font-size: 12px;
      padding: 10px 25px;
    }
  }

  .products__slider {
    .swiper-button-prev {
      left: 30%;
    }

    .swiper-button-next {
      right: 30%;
    }
  }

}